/* Header */
.header-bg {
  background-color: var(--cor-12);
}
.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
}
.header-menu {
  display: flex;
  gap: 40px;
}

.header a {
  color: #fff;
  padding: 16px 0px;
}
