.introducao-bg {
  background-color: #000;
  color: #fff;
}

.introducao.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.introducao-contedo {
  padding-bottom: 200px;
  align-self: end;
}

.introducao.titulo {
  margin-top: 64px;
}
.detalhe-ponto {
  color: #fb0;
}

.introducao.texto {
  color: #b2b2b2;
  font-size: 24px;
}
