/* CSS RESET */
* {
  padding: 0;
  margin: 0;
  vertical-align: baseline;
  list-style: none;
  border: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Global */

body {
  font-family: "Roboto", sans-serif;
  color: #111111;
  font-size: 100%;
  padding-bottom: 600px;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

img[src$=".jpg"] {
  border-radius: 4px;
}

.container {
  box-sizing: border-box;
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}
