.introducao-bg {
  background-color: var(--cor-12);
  box-shadow: inset 0px -120px var(--cor-0);
}

.introducao.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0px 40px;
}
.introducao-conteudo {
  padding-bottom: 200px;
  align-self: end;
}

.introducao h1 {
  margin-bottom: 32px;
}

.introducao p {
  margin-bottom: 20px;
}

@media (max-width: 1200px) {
  .introducao h1 {
    font-size: 48px;
  }
}
@media (max-width: 800px) {
  .introducao-bg {
    box-shadow: inset 0px -60px var(--cor-0);
  }
  .introducao.container {
    grid-template-columns: 1fr;
  }
  .introducao-conteudo {
    padding-bottom: 32px;
  }
  .introducao h1 {
    margin-bottom: 16px;
  }

  .introducao img {
    height: 300px;
    width: 100%;
  }
}
